@import "tailwindcss";

:root {
  --background: #ffffff;
  --text-color: #000000;
  --background-el: #FFD18C;
  --font-bold: bold;
  --font-regular: 400;
}

body {
  background: var(--background);
  margin: 0;
}
